<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet">
    <title>Demo Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="vue-app">
    <h1>Name : {{name}}</h1>
    <h1>Job : {{job}}</h1>
    <h1>Function : {{greet('one')}}</h1>
    <a :href="website">Youtube</a>
    <input type="text" v-bind:value="name"/>
    <h1>Events</h1>
    <button v-on:click="age++">Add a year</button>
    <button v-on:dblClick="add(10)">Add a year</button>
    <button v-on:click="age--">Subtract a year</button>
    <p>My age : {{age}}</p>
    <label>Name : </label>
    <input type="text" v-model="name">
    <h1>Computed properties</h1>
    <button v-on:click="a++">Add to A</button>
    <button v-on:click="b++">Add to B</button>
    <p>A - {{a}}</p>
    <p>A - {{b}}</p>
    <p>Age + A = {{addToA}}</p>
    <p>Age + B = {{addToB}}</p>
    <h1>Conditional</h1>
    <button v-on:click="error=!error">Toggle error</button>
    <button v-on:click="success=!success">Toggle success</button>
    <p v-if="error">There has been an error</p>
    <p v-else-if="success">Whoooooo... Yeaaaaah success</p>
    <h1>Looping</h1>
    <ul>
        <li v-for="character in characters">who : {{character}}</li>
    </ul>
    <ul>
        <li v-for="(pawn, index) in pawns">{{index}}. pawn : {{pawn.name}} - {{pawn.age}}</li>
    </ul>
    <h1>Refs</h1>
    <input type="text" ref="input" />
    <button v-on:click="readRefs">Submit</button>
    <p>Your super hero : {{output}}</p>
</div>

<script src="app.js"></script>
</body>
</html>